<h4 class="text-success">Crear Producto</h4>

<form asp-action="Crearproduct">
  <div class="row">
   
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">Nombre Producto</label>
                <input class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label class="col-form-label">Precio</label>
                <input class="form-control" type="number" />
             </div>
        </div>

        <div class="col-md-6">
             <div class="form-group">
                <label class="col-form-label">Descripciòn</label>
                <input class="form-control" type="text" />
             </div>

             <div class="form-group">
                <label class="col-form-label">Fecha Creaciòn</label>
                <input class="form-control" type="date" />
             </div>
        </div>
  </div>
  <div>
    <input type="submit" value="Guardar" class="btn btn-success" href=""/>
  </div>
</form>