<h4 class="text-success">Crear Modulo</h4>

<form asp-action="Crearmodulo" autocomplete="off">
            <div class="form-group">
                <label class="col-form-label">Id Propetario</label>
                <input class="form-control" type="number" idpropetario name="IdPropietario" />
            </div>
            <div class="form-group">
                <label class="col-form-label">Nombre Propietario</label>
                <input class="form-control" type="text" nombre-propetario name="Nombre" maxlength="100"/>
            </div>
   
            <div class="form-group">
                <label class="col-form-label">Descripciòn</label>
                <textarea class="form-control" descripcion name="Descripcion" maxlength="500"></textarea>
            </div>

            <div class="form-group">
                <label class="col-form-label">Fecha Creaciòn</label>
                <input class="form-control" type="date" fecha name="Fecha" />
            </div>
            <div>
                <input type="submit" value="Guardar" class="btn btn-success" href=""/>
            </div>
</form>   

<div class="contenedor">

</div>

@section Scripts{
    <script src="~/js/Modulo.js">
 
    </script>
}
