<br />
<h3 class="text-success text-center">Te damos la Bienvenida a tú Pagina El Oriental Web</h3>
<br />
<div>

    <p class="text-justify">En tu pagina Oriental Web pondras a prueba el nuevo uso de ventas de tus productos y de tus servición como vendedor.</p>
    <p class="text-justify">
        Ademas, tendras la oportunidad de empezar como empredor con uno de los mejores recursos en la actualidad como son las ventas por medio de la web,
        con el cual podras llegar a miles de personas de todas las edades, las cuales podras ofrecele tus mejores productos de alta calidad y tendras
        un facil contacto con tus clientes, quienes podran contactarte para realizar una facil y segura compra de tus distintos productos.
    </p>

    <p class="text-justify">
        En la pagina podras vender y ofrecer productos de marcas como:
        <em><strong class="text-success">Ropa, Clazados, para hombre, mujeres y niños de todas las edades,</strong></em>
        facilita tu manera de emprender y vender tus productos con esta nueva oportunidad.
    </p>
    <br />
    <div class="text-center">
        <img src="~/image/compras4.png" alt="" class="img-ts img-rounded float-xs-left" />
        <img src="~/image/compras2.jpg" alt="" class="img-ts img-rounded float-xs-right" />
        <img src="~/image/compras6.jpg" alt="" class="img-ts img-rounded mx-auto" />
    </div>
    <br />
    <p class="text-justify">
        Lo más importante y uno de los mejores beneficios es qué puedes ofrecer todo tipo de articulos y serviciós,
        la pagina esta creada para satisfacer las necesidades del cliente, el cual desea emprender y llegar a más cliente,
        de modo que la web sea utilizada a su maximo esplendor y aprovechar esta gran oportunidad e impacto que esta ocacionando en este siglo.
    </p>

    <p class="text-justify">
        Si ya te has registrado puedes disfrutar de todos los beneficios que la pagina presenta, estoy seguro que la pagina sera de mucha utilidad y beneficio para emprender tú nuevo negocio
        y te ayudara a llegar muy lejos. Ahora tienes en tí el poder de cumplir tus metas siendo jefe de tu propio negocio.
    </p>

    <h5 class="text-success text-center"><em><strong>Puedes empezar a emprender Hoy Mismo</strong></em></h5>
    <h6 class="text-info text-center"><em><strong>Siguenos en:</strong></em></h6>
    <div class="text-center text-lg-start bg-light text-muted">
        <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-google fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-github fa-lg"></i>
        </a>
    </div>
</div>

<style>
    .img-ts {
       width:350px;
       height:280px;
    }
</style>