<br />
<h2 class="text-success text-center">Política de privacidad</h2>

<div>

    <p>
        Oriental Web manifiesta su respeto y cumplimiento de las disposiciones contenidas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento.
        Por ello, pone a su disposición la presente Política de Privacidad para que el Cliente determine voluntariamente si desea facilitar sus datos personales.
    </p>
    <p>
        Esta Política de Privacidad establece el uso, mantenimiento y cesión que hace nuestra pagina de los datos personales de los Clientes de la página web.
    </p>

    <h5 class="text-success">Privacidad</h5>
    <p>
        Oriental Web compromete a desarrollar relaciones de larga duración basadas en la confianza.
        Por ello, hará todo lo posible para asegurar que su derecho de privacidad se mantenga y se proteja.
        Esta página web se dirige a mayores de 14 años de edad.
    </p>

    <h5 class="text-success">¿Qué son las cookies?</h5>
    <p>
        Una cookie es un archivo de información almacenado en el equipo de cómputo del Cliente y vinculado con información sobre dicho Cliente.

        Oriental Web podrá utilizar tanto cookies de sesión como cookies permanentes. Las cookies de sesión, una vez que el Cliente cierra su navegador o se desconecta, terminan y se borran.
        Una cookie permanente es un pequeño archivo de texto almacenado en el disco duro del equipo de cómputo del Cliente por un largo periodo de tiempo.

        Las cookies de sesión pueden ser usadas por Oriental Web para conocer las preferencias del Cliente mientras este visita la página web.
        También ayudan a minimizar los tiempos de descarga y a ahorrar procesamientos del servidor. Las cookies permanentes pueden utilizarse por Oriental Web por ejemplo, para registrar si el
        Cliente quiere o no que su contraseña se recuerde o información similar.

        Las cookies que se utilizan en la página web de Oriental Web no contienen información personal que identifique al Cliente.
    </p>

    <h5 class="text-success">Consentimiento</h5>
    <p>
        Para integrar sus datos personales en archivos de Oriental Web y utilizarlos para las finalidades previstas en la presente Política de Privacidad se necesita el consentimiento del Cliente.
    </p>
    <p>
        El Cliente prestará su consentimiento a la presente Política de Privacidad durante el procedimiento de cumplimentación del formulario de registro. Antes de dicha aceptación,
        ningún dato de carácter personal relativo a su persona será incorporado a archivos de IONOS, salvo los de navegación y funcionamiento que son anónimos.
    </p>

    <h5 class="text-success">Modificaciones</h5>
    <p>
        El Cliente está de acuerdo y conforme con que cualquier cambio a esta Política de Privacidad se notifique mediante su publicación en la página de Internet .
        Es obligación del Cliente visitar periódicamente dicha página a fin de verificar la versión más actual de la Política de Privacidad.
    </p>
    <h6 class="text-info text-center"><em><strong>Siguenos en:</strong></em></h6>
    <div class="text-center text-lg-start bg-light text-muted">
        <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-google fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-github fa-lg"></i>
        </a>
    </div>
</div>
